#  exportPattern("^[[:alpha:]]+")


# functions written by Jose Gama and Glenn Davis
export( # hypot,
        # lab2xyz,
        LabtoMunsell,
        # luv2xyz,
        LuvtoMunsell,
        MunsellHVC,
        MunsellToLab,
        MunsellToLuv,
        MunsellTosRGB,
        MunsellToxyY,
        MunsellToXYZ,
        sRGBtoMunsell,
        # xyY2XYZ,
        xyYtoMunsell,
        # xyz2lab,
        # xyz2luv,
        # XYZ2xyY,
        XYZtoMunsell,
        IsWithinMacAdamLimits,
        MunsellSpecToColorlabFormat,
        ColorlabFormatToMunsellSpec
        )
        
# functions by Jose Gama, and used in package 'colorscience'
export( # srgb2xyz,        
        xyz2srgb )

# functions added by Glenn Davis
export( #adaptxyY,
        #adaptXYZ,
        HVCfromMunsellName,
        HueStringFromNumber,
        MunsellNameFromHVC,
        HueNumberFromString,        
        VfromY,
        YfromV,
        plotLociHC,
        plotPatchesH,
        ColorBlockFromMunsell,
#       sectionOptimals,        
        RGBtoMunsell,
        MunsellToRGB,
        NickersonColorDifference
        )

# importFrom(akima, bilinear, bicubic)
importFrom(rootSolve,multiroot)
importFrom(geometry, delaunayn, tsearchn)
importFrom(stats, approx, spline, splinefun, predict, residuals, formula, lm, polym, coef )
importFrom(graphics, abline, grid, lines, polygon, par, plot,
                plot.new, plot.window, points, rect, segments, text, title)
importFrom(utils, data, read.table, str, flush.console, object.size )
